# Это пример файла, содержащего переменные среды для настройки приложения.
#
# Скопируйте этот файл:
#   cp .envrc.example .envrc
#
# Используйте direnv (https://direnv.net) для автоматической загрузки содержимого файла.

export DEBAFR_DEV_MODE=true
